<app-nav-demo-theme></app-nav-demo-theme>
<div class="wrapper">
  <mat-card class="mat-card-class cart">
    <mat-card-header>
      <mat-card-title>
          Carrito
      </mat-card-title>
  </mat-card-header>
    
    <mat-card-content > 
      <app-shoppingcart-form></app-shoppingcart-form>      
    </mat-card-content>
    
    <ng-container *ngIf=" prods_on_cart > 0"> 
      <mat-card-actions>
        <div fxLayout="column wrap" fxLayoutAlign=" end" >
          <div fxFlex="100%" fxFlex.xs="50%" fxFlex.sm="50%">
            <button routerLink="../demo-checkout" mat-raised-button color="accent" class="btn btn-primary">Continuar</button>  
          </div>
        </div>    
      </mat-card-actions>    
        
    </ng-container>            
</mat-card>
</div>
 