<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <mat-card-title>
            Ordenes
        </mat-card-title>
        
    </mat-card-header>
    <mat-card-content>
      <div xFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <button  align='right' mat-raised-button color="basic" style="margin:5px;" (click)="filterBy('all')">Todas</button>
        <button  align='right' mat-raised-button color="primary" style="margin:5px;" (click)="filterBy('closed')">Ordenes Cerradas</button>
        <button  align='right' mat-raised-button color="accent" style="margin:5px;" (click)="filterBy('notClosed')">Ordenes Pendientes</button>
        <button  align='right' mat-raised-button class="alterPrimaryBG" style="margin:5px;" (click)="filterBy('canceled')">Ordenes Canceladas</button>

      </div>
        <ng-container *ngIf="orders.length < 1  ">
            
        </ng-container>
        <ng-container *ngIf="isLoading" >
          <div style="display: flex; justify-content: center; align-items: center; background: white;">
            <mat-progress-spinner 
            color="accent"
              mode="indeterminate">
            </mat-progress-spinner>
          </div>
        </ng-container>
        
        <ng-container *ngIf="orders.length > 0">           
            <mat-accordion fxFlexFill fxLayout="column"  >
                <mat-expansion-panel  *ngFor="let order of selectedResult" (afterExpand)="fetchPanelData(order.salesOrderId)"  hideToggle >
                  <mat-expansion-panel-header   >
                    <mat-panel-title>
                      {{order.payPalFullName}}
                    </mat-panel-title>
                    <mat-panel-description>      
                      <p>{{ order.paymentFormNum }} | <b *ngIf="order.closed">Cerrada</b> 
                                                      <b *ngIf="order.canceled">Cancelada</b>
                                                      <b *ngIf="!order.canceled && !order.closed">Pendiente</b>
                      </p>           
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>
                    Direccion de Entrega: {{order.payPalAddressLine1}}, {{order.payPalAddressLine2}}, {{order.payPalAdminArea1}}, {{order.payPalAdminArea2}}, {{order.payPalCountryCode}}, CP {{order.payPalPostalCode}}
                  </p>
                  <ng-container *ngFor = "let orderDtl of ordersDtl; trackBy: trackByOrderDtl">
                  
                    <ng-container *ngIf = "orderDtl.salesOrderId == order.salesOrderId">
                      
                      <p>
                        {{orderDtl?.partName}} (${{orderDtl.unitPrice}}.00 pesos)
                      </p>                          

                    </ng-container>
                  </ng-container> 
                  <p>
                    Total de la orden: <strong> $ {{order.totalLetter}} </strong>
                  </p>
                  <div align="end" *ngIf="" >
                    <ng-container *ngIf="!order.closed || !order.canceled">
                      <button mat-raised-button class="action-button"
                        matTooltip="Editar"
                       (click)="closeOrder(order.salesOrderId)" [class.spinner]="closeIsLoading" [disabled]="closeIsLoading"  color="accent"> Finalizar
                      
                      </button>
                    </ng-container>
                    <button mat-raised-button
                    matTooltip="Cancelar"
                    class="action-button" 
                    (click)="cancelOrder(order.salesOrderId)"color="warn"> Cancelar </button>
                  </div>
                </mat-expansion-panel> 
                                         
              </mat-accordion>
              <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent=getData($event)" showFirstLastButtons></mat-paginator>
            <br>
            
        </ng-container>
    </mat-card-content>
   
</mat-card>