<mat-selection-list  [multiple]="false" *ngIf="authenticationService.currentuser | async">
  <mat-list-option routerLink='/' >
    <span> <mat-icon>home</mat-icon> Inicio</span>
  </mat-list-option>
  <mat-list-option [routerLink]="['/users', user.systemUserId, 'view' ]"  >        
    <span><mat-icon>perm_contact_calendar</mat-icon> Perfil & Ordenes </span>
  </mat-list-option> 
  <mat-list-option [routerLink]="['/adminproducts', user.systemUserId ]" >        
    <span><mat-icon>business_center</mat-icon> Administrar Productos   </span>     
  </mat-list-option>
  <mat-list-option [routerLink]="['/salesdashboard', user.systemUserId, 'view']" >        
    <span><mat-icon>assessment</mat-icon> Informacion de Pedidos </span>     
  </mat-list-option>
  <mat-list-option [routerLink]="['/reports']" >        
    <span><mat-icon>pie_chart</mat-icon> Reportes </span>     
  </mat-list-option>
  <mat-list-option (click)="logout()">
  <span><mat-icon class="mr">logout</mat-icon> Salir</span>
  </mat-list-option> 
</mat-selection-list>

