<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <ng-container *ngFor="let product of products ">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngIf="(product.canceled == false)">
                <mat-card class="mat-elevation-z4" >
                    <mat-card-header color="primary">
                        <mat-card-title>
                            <button mat-button
                                [routerLink]="['/demo/demo-products', product?.partId, 'view' ]">{{product.name}}</button>
                        </mat-card-title>
                    </mat-card-header>
                    <a [routerLink]="['/demo/demo-products', product?.partId, 'view' ]">
                        <img mat-card-image class="img-size" crossorigin="anonymous"   src="{{ image_path + product?.imageFile}}">
                    </a>                   
                    <mat-card-content>
                        <p>
                            ${{product.unitPrice}}.00 MXN
                        </p>
                    </mat-card-content>
                    <mat-card-actions  align="end">
                        <button mat-raised-button color="accent" (click)="addToCart(product)"><span class="material-icons">
                            add_shopping_cart
                            </span></button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </ng-container>
    </div>
</div>