.img-size {
    object-fit: contain ;
    width: 100%;
    height: 150px;
}

mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.product-actons button {
    margin: 5px;
}