<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <mat-card-title>
            Información de Perfil
        </mat-card-title>
    </mat-card-header>
    <!-- <img mat-card-image  src="{{ image_path + product.imageFile}}">     -->
    <mat-card-content>  
             
        <div class="userAvatarInfo">           
            <img class="avatar mat-elevation-z8"  src="{{image_banner?.image}}" />             
        </div>
        <ng-container *ngIf="!image_banner.image">
            <div class= 'edit-profile-pic' (click)="openProfilePicDialog()"><mat-icon>compare_arrows</mat-icon></div>
        </ng-container>
        <ng-container *ngIf="image_banner.image">
            <div class= 'edit-profile-pic' (click)="openEditProfilePicDialog()"><mat-icon>edit</mat-icon></div>
        </ng-container>
        
        <mat-list>
            <mat-list-item> Nombre : {{ (this.user_data$ | async )?.name }} </mat-list-item>
            <mat-list-item> Correo : {{ (this.user_data$ | async )?.email }} </mat-list-item>
            <mat-list-item> Telefono: {{ (this.user_data$ | async )?.phoneNumber }} </mat-list-item>
            <mat-list-item> Fecha de Registro : {{(this.user_data$ | async)?.createdDateTime | date:'MM/dd/yyyy'}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions class="action-buttons" align="end">
        <button mat-raised-button color="accent" (click)="openDialog()">Editar</button>
        <button mat-raised-button color="primary" (click)="openCompanyDialog()">Configurar Compañia</button>
    </mat-card-actions>
</mat-card>