<h1 mat-dialog-title>Editar Banner</h1>

<div mat-dialog-content > 
  <form  class="example-form"  [formGroup]="edit_b_form" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()">
    <input type="hidden" [hidden]="true" formControlName="createdDateTime"  [ngModel]="post_data?.createdDateTime">
    <input type="hidden" [hidden]="true" formControlName="cancelable"  [ngModel]="post_data?.cancelable">
    <input type="hidden" [hidden]="true" formControlName="canceled"  [ngModel]="post_data?.canceled">
    <input type="hidden" [hidden]="true" formControlName="canceledBy"  [ngModel]="post_data?.canceledBy">
    <input type="hidden" [hidden]="true" formControlName="companyId"  [ngModel]="post_data?.companyId">
    <input type="hidden" [hidden]="true" formControlName="createdBy"  [ngModel]="post_data?.createdBy">
    <input type="hidden" [hidden]="true" formControlName="sysRowId"  [ngModel]="post_data?.sysRowId">
    <input type="hidden" [hidden]="true" formControlName="aldanCustomerId"  [ngModel]="post_data?.aldanCustomerId">
   
   
    <div class="example-full-width" appearance="fill" fxFlex="100%">
      <mat-label>Imagen</mat-label>
      <input type="file" (change)="handleInputChange($event)" class="form-control small-form"  /> 
      <ng-container *ngIf="image_file">
        <img src="{{image_file}}"  class="img-size-banner" >    
      </ng-container>    
    </div>

    <mat-form-field class="example-full-width" appearance="fill" fxFlex="100%" >
      <mat-label>Titulo</mat-label>
      <input type="text" matInput placeholder="Titulo"  formControlName="title" [ngModel]="post_data?.title">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" fxFlex="100%" >
      <mat-label>Subtitulo</mat-label>
      <input matInput placeholder="Subtitulo" formControlName="subtitle" [ngModel]="post_data?.subtitle">
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width"  appearance="fill" fxFlex="100%" >
      <mat-label>Puerto SMTP</mat-label>
      <input matInput placeholder="Puerto" formControlName="smtpPort" [ngModel]="post_data?.smtpPort">
    </mat-form-field> -->
 
   
    


    <div mat-dialog-actions align="end">
      <button mat-raised-button (click)="onNoClick()" type="button" 
      color="primary">Cancelar</button>
      <button   mat-raised-button color="accent" [class.spinner]="loading_edit" 
      [disabled]="loading_edit">Guardar</button>
    </div>
  </form>

</div>