


.wrapper {
    margin: 20px;
    
}

.bounds{
    overflow-x: hidden;
}

.title {
    text-align: center;
}

.content {
    padding: 16px;
    
}

.content > mat-card {
    margin-bottom: 16px;
    
}

.bg-dialog-text{
    min-height: 400px;
}

