<mat-toolbar class="navbar-custom nav-primary" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="30px">

    <span mat-button>LOGO</span>
    <span fxFlex></span>
    <a mat-button routerLink="/demo"> Inicio </a>
    <a mat-button routerLink="/demo/demo-products"> Productos </a>   
    <a mat-button> Acerca de  </a>   
    <a mat-button routerLink="/demo/demo-login" *ngIf="!(authenticationService.currentuser | async) as user"> Iniciar Sesión </a>   
    <a mat-button *ngIf="(authenticationService.currentuser | async) as user" (click)="logout()"> Cerrar Sesion </a>   

 
</mat-toolbar>
