<app-nav-demo-theme></app-nav-demo-theme>

<div class="bounds">

  <div class="home-content demo-header-container" fxLayout="row" fxLayoutAlign="space-around center"
    style="min-height:400px">
    <div fxFlex="100" class="sec1" fxFlex.xs="55">
      <app-header-demo-theme></app-header-demo-theme>
    </div>
  </div>
  <br>
  <br>
  <div class="wrapper">
    <div class="title">
      <h1>Destacados</h1>
    </div>

    <app-feature-products></app-feature-products>

  </div>

</div>
<app-footer-demo-theme></app-footer-demo-theme>