.demo-header-container{
    background: rgb(137,210,220);
    background: -moz-linear-gradient(90deg, #58617b 0%, #101d42 100%);
    background: -webkit-linear-gradient(90deg, #58617b 0%, #101d42 100%);
    background: linear-gradient(90deg, #58617b 0%, #101d42 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#58617b",endColorstr="#101d42",GradientType=1);
    color: #000000;

}


.wrapper {
    margin: 20px;
}

.title {
    text-align: center;
}
