.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    flex-basis: 0;
}

.action-button {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: flex-end;
}

.order-info-panel {
    display: flex;
    flex-flow: row wrap;
    /* gap: 10px; */
    justify-content: space-between;
}


.section {
    flex: 1 1 auto; 
    border: 1px solid lightgrey;  
    padding: 5px;
}

.section {
    text-align: center;
}

.section>div{
    font-size: larger;
}

ul{
    text-align: left !important;
}