<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25" fxFlex.xs="100%" fxFlex.sm="33%">
        <button align='right' mat-raised-button style="margin:5px;" class="alterPrimaryBG"
          *ngIf="authenticationService.currentuser | async" routerLink="/products/create" (click)="gotoTop()">Crear
          Producto</button>
      </div>
      <form [formGroup]="searchForm" fxLayout="column" fxFlex="33%" fxFlexOffset="10" fxFlex.xs="100%" fxLayoutAlign="center stretch">
        <mat-form-field >
          <mat-label> Buscar Producto</mat-label>
           <input matInput placeholder="Buscar" formControlName="search">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <br>

    <ng-container *ngIf="is_loading"  >
      <div style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-progress-spinner 
          color="accent" 
          mode="indeterminate">
        </mat-progress-spinner>
      </div>
    </ng-container>

    
    <mat-form-field>
      <mat-label>Ordenar</mat-label>
      <mat-select placeholder="Ordenar" [ngModel]="selected_sort" (ngModelChange)="orderByChange($event)"> 
        <mat-option *ngFor="let type of sort_types" [value]="type">{{type.name}}</mat-option>            
      </mat-select>     
    </mat-form-field>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      
      <ng-container *ngFor="let product of products | searchFilter: searchForm.value.search | productsSort: selected_sort">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngIf="(product?.canceled == false)">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>
                <button mat-button
                  [routerLink]="['/products', product.partId, 'view' ]">{{product.name}}</button>
              </mat-card-title>
            </mat-card-header>
              <img mat-card-image class="img-size" src="{{ image_path + product?.imageFile}}">
 
            <mat-card-content>
              <p>
                ${{product.unitPrice}}.00 MXN
              </p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-raised-button  color="accent" (click)="addToCart(product)" [disabled]="(product.onHandQty < 1)" ><span class="material-icons">
                  add_shopping_cart
                </span></button>
                <button matTooltip="Cancelar"
                *ngIf="authenticationService.currentuser | async" mat-raised-button color="warn" (click)="cancelProduct(product?.partId)"><span class="material-icons">
                  cancel
                </span></button>
               <!--  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                  <button align='right' mat-raised-button color="warn" style="margin:5px;"
                    *ngIf="authenticationService.currentuser | async"
                    (click)="cancelProduct(product?.partId)">Cancelar Producto</button>
                </div> -->
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </div>