<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container ">
      <a routerLink="/cart" class="btn btn-primary">Atras</a>
      <div class="row justify-content-center">
        <div class="col-md-10">       
          <div class="row justify-content-center">            
            <div class="col-md-6">
              <h2>Ya casi es tuyo el carrito...</h2>
              <div class="form-group">
                <label for="PartType">Forma de pago</label>
                <select [(ngModel)]="mySelect" class="form-control small-form"
                  (change)="onPaymentFormChange($event.target)">
                  <option *ngFor="let item of paymentFormArray" [ngValue]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
  
  <!-- Section to fill address, email and customer name -->
  <section class="ftco-section ftco-no-pb ftco-no-pt bg-light"
    *ngIf="this.selectedPaymentForm == 'Pago contra entrega' || this.selectedPaymentForm == 'PayPal'">
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-10 col-md-10">
          <app-checkout-form></app-checkout-form>
        </div>
      </div>
    </div>
  </section>
  
  <br><br>