<app-nav-demo-theme></app-nav-demo-theme>
<div class="wrapper">
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="100%">
            <app-general-info [company] = "company"></app-general-info>           
          </div>
          <div fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="100%">
            <app-sales-info [company] = "company"></app-sales-info>
          </div>
        </div>
    </div>
     
</div>

<app-footer></app-footer>