

 .footer-demo {
     height: 100%; /* Angular material adds "height:100%" to body tag by default. So, ignore this step in real-time application */
   }
   
   .demo-section {
     border: 1px solid ;
   }
   
   footer {
     
     text-align: center;
   }
 
   
   #btmFooter {
     align-self: flex-end;
   }


   