
  
  .example-sidenav {
    padding: 0px;
  }
  

  .mat-icon {
    vertical-align: middle;
  }

.name {
    margin-top: 8px;
    font-weight: normal;
}

.email {
    margin-top: 2px;
    font-size: 0.7rem;
  
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    
}

.avatar {
  margin-top: 16px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: contain;
}


.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
      margin-right: 8px;
  }
}

.userAvatarInfo{
  text-align: center; 
  color: black;
}

.side-disabled {
  color: grey !important;

}
