<mat-selection-list  [multiple]="false" *ngIf="authenticationService.currentuser | async">
    <div class="userAvatarInfo">
    <img class="avatar mat-elevation-z8" src="{{image_path}}" />
      <h4 class="name"> {{ (this.user_data$ | async )?.name }}</h4>
      <p class="email">{{ (this.user_data$ | async )?.email }}</p>
    </div>
    <mat-divider></mat-divider>
  
    <mat-list-item routerLink='/'  class="menu-button">
      <span> <mat-icon>home</mat-icon> Inicio</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['/company-info/profile']" class="menu-button" >        
      <span><mat-icon>perm_contact_calendar</mat-icon> Perfil & Ordenes </span>
    </mat-list-item> 
    <mat-list-item [routerLink]="['/management/products']" class="menu-button" >        
      <span><mat-icon>business_center</mat-icon> Administrar Productos   </span>     
    </mat-list-item>
    <mat-list-item [routerLink]="['/activity-box/messages']" class="menu-button">
      <span><mat-icon class="mr">message</mat-icon>Mensajes</span>
    </mat-list-item> 
    <mat-list-item [routerLink]="['//management/orders-detail']" class="menu-button" >        
      <span><mat-icon>assessment</mat-icon> Informacion de Pedidos </span>     
    </mat-list-item>
    <mat-list-item  class="menu-button">        
      <span class="disabled"><mat-icon>pie_chart</mat-icon> Reportes </span>     
    </mat-list-item>  
    <mat-list-item (click)="logout()" class="menu-button">
      <span><mat-icon class="mr">logout</mat-icon> Salir</span>
    </mat-list-item> 
  </mat-selection-list>
  
  