.header-container{
    //min-height: 400px;
    height: 100hv;
    background: rgb(244,67,54);
    background: -moz-linear-gradient(60deg, rgba(96,125,139,1) 0% , rgba(194,24,91,1) 50%,rgba(244,67,54,1) 100%);
    background: -webkit-linear-gradient(60deg,  rgba(96,125,139,1) 100%, rgba(194,24,91,1) 50%, rgba(244,67,54,1) 100%);
    background: linear-gradient(60deg,  rgba(96,125,139,1) 0%, rgba(194,24,91,1) 50%, rgba(244,67,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#607d8b",endColorstr="#f44336",GradientType=1);
}

.home-content {
    min-width: 100%;
}