.header-container{
    //min-height: 400px;
    height: 100hv;
  
    background: -moz-linear-gradient(60deg, #cbc0d3 0% , #feeafa 50%,#EFD3D7 100%);
    background: -webkit-linear-gradient(60deg,  #cbc0d3 100%, #feeafa 50%, #EFD3D7 100%);
    background: linear-gradient(60deg,  #cbc0d3 0%, #feeafa 50%, #EFD3D7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#607d8b",endColorstr="#f44336",GradientType=1);
    color: #8E9AAF;    
}

.home-content {
    min-width: 100%;
}