mat-toolbar {
    justify-content: space-between;
}
.wrapper {
    min-height: 100vh !important ;
}
.content {
    padding: 16px;
    
}

.content > mat-card {
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}