.example-container {
    width: 100vw;
    height: 100vh;    
}  
.example-sidenav-content {
    display: block;    
    align-items: center;
    justify-content: center;
}

#open-menu {
   margin: 15px;
   z-index: 999;
   display: flex;
   position: fixed;
}
  
.example-sidenav {
    padding: 20px;
}


  