<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <div id="open-menu">
    <button mat-mini-fab color="primary" type="button"  (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
  <!-- <div fxFlex="none">
    <app-footer></app-footer>
  </div> -->


</mat-drawer-container>