<mat-drawer-container [ngClass]="current_theme | async  " class="example-container">
  
  
  <mat-drawer #drawer class="example-sidenav leftNavColor cScrollbar " mode="side" >
    <app-side-nav class="cScrollbar" [company]="company" ></app-side-nav>
  </mat-drawer>
  <ng-container *ngIf="authenticationService.currentuser | async ">
    <div id="open-menu"  class="open-menu-cls" >
      <button class="menu-btn" mat-mini-fab color="accent" type="button" (click)="drawer.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="loading">
    <div style=" margin-top: 20px;display: flex; justify-content: center; align-items: center; background: white;">
      <span>
        <mat-progress-spinner color="accent" mode="indeterminate">
        </mat-progress-spinner>
        Cargando ...
      </span>
    </div>
  </ng-container>

  <div class="example-sidenav-content cScrollbar" *ngIf="!loading">
    <router-outlet></router-outlet>
    <app-app-footer [company]="company" *ngIf="!loading"></app-app-footer>
 </div>


</mat-drawer-container>
