<div class="title">
    <h1>Recién Llegados</h1>
</div>
<div class="newest-prod">
    
    <ng-container *ngFor="let product of products ">
        <div class="prod-elem" *ngIf="(product?.canceled == false)">
            <mat-card>
                <mat-card-header color="primary">
                    <mat-card-title>
                        <button mat-button
                            [routerLink]="['/product', product?.partId, 'view' ]">{{product.name}}</button>
                    </mat-card-title>
                </mat-card-header>
                <a [routerLink]="['/product', product?.partId, 'view' ]">
                    <img mat-card-image class="img-size" src="{{ image_path + product?.imageFile}}">
                </a>
                <mat-card-content>
                    <p>
                        ${{product.unitPrice}}.00 MXN
                    </p>
                </mat-card-content>
                <mat-card-actions class="product-actons" align="end">
                    <button mat-raised-button color="accent" (click)="addToCart(product)"><span class="material-icons">
                            add_shopping_cart
                        </span></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-container>

</div>