
<h1 mat-dialog-title>Editar </h1>

<div mat-dialog-content > 
  <form  class="example-form"  [formGroup]="block_data_form" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width" appearance="fill" fxFlex="100%" >
      <mat-label>Titulo</mat-label>
      <input type="text" matInput placeholder="Titulo"  formControlName="sectionTitle" [ngModel]="post_data?.sectionTitle">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" fxFlex="100%" >
      <mat-label>Subtitulo</mat-label>
      <input matInput placeholder="Subtitulo" formControlName="sectionSubtitle" [ngModel]="post_data?.sectionSubtitle">
    </mat-form-field>

     <div class="example-full-width"  appearance="fill" fxFlex="100%" >
      <mat-label>Contenido</mat-label>
      <angular-editor [placeholder]="'Contenido...'"  formControlName="sectionDescription" [ngModel]="post_data?.sectionDescription"  [config]="config"></angular-editor>
    
    </div> 

    <div mat-dialog-actions align="end">
      <button mat-raised-button (click)="onNoClick()" type="button" 
      color="primary">Cancelar</button>
      <button   mat-raised-button color="accent" [class.spinner]="loading_edit" 
      [disabled]="loading_edit">Guardar</button>
    </div>
  </form>

</div> 