<div class="wrapper">
    <app-home-banner [companyInfo]="company"></app-home-banner>
    <app-page-section *ngIf="companyPage" [CurrentPage]="companyPage[0]" [Block]="0"></app-page-section>
    <app-newest-products></app-newest-products>
    <app-page-section *ngIf="companyPage" [CurrentPage]="companyPage[0]" [Block]="1"></app-page-section>
    <app-product-lists></app-product-lists>
    <app-page-section *ngIf="companyPage" [CurrentPage]="companyPage[0]" [Block]="2"></app-page-section>
    <app-page-section *ngIf="companyPage" [CurrentPage]="companyPage[0]" [Block]="3"></app-page-section>
</div>

