<!-- <div class="wrapper">
    <div class="content">
        <div >
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                <mat-card class="mat-elevation-z4 ">
                    <mat-card-header>
                        <mat-card-title>
                            Productos
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-grid-list cols="6" rowHeight="6:1" >
                            <mat-grid-tile >  </mat-grid-tile>
                            <mat-grid-tile><b>Producto</b>  </mat-grid-tile>
                            <mat-grid-tile><b>Cantidad</b>  </mat-grid-tile>
                            <mat-grid-tile> <b>Precio Unitario</b> </mat-grid-tile>
                            <mat-grid-tile><b>Total</b>  </mat-grid-tile>
                            <mat-grid-tile *ngIf="this.showControls"> <b>Acciones</b>  </mat-grid-tile>

                        </mat-grid-list>
                        <ng-container *ngFor="let product of shopCartItems">
                            <mat-grid-list cols="6" rowHeight="6:2" >
                                <mat-grid-tile  fxFlex.sm="50%"> <img class="img-size-cart" src="{{image_path+product.imageFile}}"> </mat-grid-tile>
                                <mat-grid-tile> {{product.name}} </mat-grid-tile>                               
                                <mat-grid-tile> 
                                    <mat-form-field appearance="fill" floatLabel="always" style="width: 80px;">                                        
                                        <input matInput type="number" [disabled] = '!this.showControls' id="cartQty" name="cartQty"   min="1" #cartQty value="{{product?.quantity}}" (change)="onQtyChange(product, cartQty.value)" >
                                      </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile> {{product.unitPrice | currency: 'MXN'}} </mat-grid-tile>
                                <mat-grid-tile> {{product.total | currency: 'MXN'}} </mat-grid-tile>
                                <mat-grid-tile *ngIf="this.showControls"><mat-icon (click)="removeProduct(product)">delete</mat-icon></mat-grid-tile>
                                <br/>
                            </mat-grid-list>
                            <ng-container  *ngIf="!shopCartItems"> 
                                <div>No hay productos en el carrito.</div> 
                            </ng-container>
                        </ng-container>                           
                    </mat-card-content>

                </mat-card>
            </div>
        </div>
        <br>
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                <mat-card class="mat-elevation-z4 ">
                    <mat-card-header  >
                       
                    </mat-card-header>
                    <mat-card-content align="right">

                        <div class="form-group">
                            <label>Total de artículos:<small class="text-muted"></small></label>
                            <label id="totalTickets">&nbsp;{{this.numberOfElements}}</label>
                        </div>
                        <div class="form-group">
                            <label>IVA:<small class="text-muted"></small></label>
                            <label id="totalTicketsEfectivo"></label>
                        </div> 
                        <div class="form-group">
                            <label>Total de la compra:<small class="text-muted"></small></label>
                            <label id="totalTicketsTarjeta">&nbsp;{{this.sumOfCart}}.00 MXN</label>
                        </div> 
                    </mat-card-content>

                </mat-card>   
            </div>
        </div>

    </div>
</div>
 -->
<div class="wrapper-cart">


  <div class="shopping-cart cScrollbar">
    <div class="title">
      Carrito
    </div>
    <ng-container *ngFor="let product of shopCartItems">
        <!-- Start Item section -->
      <div class="item">
        <div class="buttons">
          <span class="delete-btn" *ngIf="this.showControls"><mat-icon (click)="removeProduct(product)">close</mat-icon></span>
        </div>
        <div class="image">
          <img class="img-size-cart" src="{{image_path+product.imageFile}}" alt="">
        </div>
        <div class="description">
          <span>{{product.name}}</span>
        </div>
        <div class="quantity">
            <input matInput  type="number" [disabled] = '!this.showControls' id="cartQty" name="cartQty"   min="1" #cartQty value="{{product?.quantity}}" (change)="onQtyChange(product, cartQty.value)" >
 
        </div>
       <!--  <div class="unit-price">
            {{product.unitPrice | currency: 'MXN'}}
        </div> -->

        <div class="total-price">
            {{product.total | currency: 'MXN'}} 
        </div>       

      </div>      
    </ng-container>
       <!-- End Item section -->
    <ng-container  *ngIf='this.numberOfElements == 0'> 
        <div class="no-item">No hay productos en el carrito.</div> 
    </ng-container>

    <div class="cart-footer">
        <div class="total-parts-qty">
         
         <span> Total de artículos: {{this.numberOfElements}}</span>  
        </div>
        <!-- <div class="tax">
            IVA:
        </div> -->
        <div class="cart-total-price">
            Total de la compra: {{this.sumOfCart}}.00 MXN
        </div>
  </div>
  </div>

  
</div>
