table {
    width: 100%;
  }

  .img-size-cart{
    object-fit: cover ;
    width: 100px;
   
    height: 100px;
  }


  .wrapper-cart{
    box-sizing: border-box;
  }
 

  .shopping-cart {
    width: 750px;
    height: 480px;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
    justify-content: center;
    margin: auto 20px 0 20px;
  }

  .no-item{
    padding: 20px 30px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .no-item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }

  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
  }
   
 
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }

  .image {
    margin-right: 50px;   
   
  }
   
  
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }


  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE !important;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }

  .unit-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

  .total-price {
    width: 100px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;   

    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }


  .cart-footer{
    position: relative;    
    align-self: flex-end;
   
    margin: 20px auto;   
    width: 100%;
    bottom: 0; 
    /* padding-top: 40px; */
    
     text-align: end;
  }
  .cart-footer div{
    margin-right: 20px;
    
  }

  .total-parts-qty span{
    display: block;
    font-size: 14px;
    color: #494949;
    font-weight: 400;
  }

  .tax{
    display: block;
    font-size: 14px;
    color: #494949;
    font-weight: 400;
  }
  .cart-total-price{
    display: block;
    font-size: 14px;
    color: #494949;
    font-weight: 400;
  }