<h1 mat-dialog-title>Editar Perfil </h1>
<form [formGroup]='user_data_form' (ngSubmit)='onSubmit()'>
<div class="profile-dialog">
  <input type="hidden" [hidden]="true" formControlName="createdDateTime"  [ngModel]="post_data?.createdDateTime">
  <input type="hidden" [hidden]="true" formControlName="systemUserId"  [ngModel]="post_data?.systemUserId">
  <input type="hidden" [hidden]="true" formControlName="cancelable"  [ngModel]="post_data?.cancelable">
  <input type="hidden" [hidden]="true" formControlName="canceled"  [ngModel]="post_data?.canceled">
  <input type="hidden" [hidden]="true" formControlName="canceledBy"  [ngModel]="post_data?.canceledBy">
  <input type="hidden" [hidden]="true" formControlName="companyId"  [ngModel]="post_data?.companyId">
  <input type="hidden" [hidden]="true" formControlName="createdBy"  [ngModel]="post_data?.createdBy">
  <input type="hidden" [hidden]="true" formControlName="employeeId"  [ngModel]="post_data?.employeeId">
  <input type="hidden" [hidden]="true" formControlName="isCarrier"  [ngModel]="post_data?.isCarrier">
  <input type="hidden" [hidden]="true" formControlName="plantId"  [ngModel]="post_data?.plantId">
  <input type="hidden" [hidden]="true" formControlName="profile"  [ngModel]="post_data?.profile">
  <input type="hidden" [hidden]="true" formControlName="sysRowId"  [ngModel]="post_data?.sysRowId">
  <input type="hidden" [hidden]="true" formControlName="systemUserId"  [ngModel]="post_data?.systemUserId">
  <input type="hidden" [hidden]="true" formControlName="systemUserNum"  [ngModel]="post_data?.systemUserNum">
  <input type="hidden" [hidden]="true" formControlName="aldanCustomerId"  [ngModel]="post_data?.aldanCustomerId">

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre"  formControlName="name" [ngModel]="post_data?.name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" [ngModel]="post_data?.email">
    </mat-form-field>

    <div mat-dialog-actions align="end">
      <button mat-raised-button (click)="onNoClick()" type="button" 
      color="primary">Cancelar</button>
      <button mat-raised-button color="accent">Guardar</button>
    </div>
  
</div>
</form>
