// Flex row/col + grid.
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

.grid {
    display: grid;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col-xs {
    @media screen and (max-width: 599px) {
        flex-direction: column;
    }
}

.flex-col-sm {
    @media screen and (min-width: 959px) {
        flex-direction: column;
    }
}

.flex-row-xs {
    @media screen and (max-width: 599px) {
        flex-direction: row;
    }
}

.flex-row-sm {
    @media screen and (min-width: 959px) {
        flex-direction: row;
    }
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-14 {
    gap: 14px;
}

.gap-20 {
    gap: 20px;
}

.flex-auto {
    flex: 1 1 auto;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.stretch {
    justify-content: stretch;
}

.align-stretch {
    align-content: stretch
}

.start {
    justify-content: start;
}

.content-start {
    align-content: flex-start;
}

.flex-start {
    align-items: flex-start;
}

.end {
    justify-content: end;
}

.flex-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.flex {
    display: flex !important;
}

.flex-1 {
    flex: 1
}

.flex-grow {
    flex-grow: 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}