/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';


// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .primaryColorBG {
    background-color: mat-color($primary);
  }
  .accentColorBG {
    background-color: mat-color($accent);
  }
  .warnColorBG {
    background-color: mat-color($warn);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid-row{
    min-height: fit-content;
    
}



.img-fluid {
  max-width: 100%;
  height: auto; }

.primary {
  //#d5c5c8
  //#9da3a4
  //#604d53
  //#db7f8e
  //#ffdbda
}

mat-card {
  word-break: break-all !important;

}