/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid-row{
    min-height: fit-content;
    
}

.btn-primary {
  background-color: #604D53;
}

.img-fluid {
  max-width: 100%;
  height: auto; }

.primary {
  //#d5c5c8
  //#9da3a4
  //#604d53
  //#db7f8e
  //#ffdbda
}
