.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 15px;
    gap: 15px;
}

.wrapper>app-company-orders {
    flex-basis: 70%;
}

.wrapper>* {
    @media only screen and (max-width: 1181px) {
        flex: 1 1 100%;
        box-sizing: border-box;
        max-width: 100%;
        padding: 0px 16px 16px 0px;
    }
}