@import '../../../../theme.scss';

.footer-demo {
    height: 100%; /* Angular material adds "height:100%" to body tag by default. So, ignore this step in real-time application */
  }
  
  .demo-section {
    border: 1px solid ;
  }
  
  footer {
    
    text-align: center;
  }

  
  #btmFooter {
    align-self: flex-end;
  }
  


  .bgColorlight {
    background-color: #4eb7ff;
    //color: #002f6c;
   }

   .bgColorDark{
    background-color: #0d1317;
    
    color:  rgba(255, 255, 255, 0.87)  !important;
   }

   .footer-text {
    color: #ffffff !important;

   }
   mat-list-item {
    color: #ffffff !important;
   }

   .tech{
    font-size: smaller;
   }