<footer class="md-padding ">
  <div id="btmFooter" flex>
    <div class="content "  fxLayout="column" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="30" class="alterPrimaryBG">
        <div fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center start" >
          <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlex.md="90" fxFlex="45" class="sec2">
            <mat-list >
              <div class="footer-text" mat-subheader>Aldan</div>
              <br>
              <mat-list-item>
               {{ cpny?.description }}
              </mat-list-item>             
            </mat-list>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-evenly center"  fxFlex.md="100" fxFlex="25" class="sec2">
            <mat-list>
              <div class="footer-text" mat-subheader>Redes Sociales</div>
              <mat-list-item *ngIf="cpny?.facebookUrl">
                <a mat-icon-button href="{{cpny?.facebookUrl}}">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
                </a>
              </mat-list-item>
              <mat-list-item *ngIf="cpny?.instagramUrl">
                <a mat-icon-button href="{{cpny?.instagramUrl}}">
                  <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
                </a>
              </mat-list-item>              
              <mat-list-item>
                <a mat-button routerLink="/login" *ngIf="!(authenticationService.currentuser | async) as user" fxHide.xs> Iniciar Sesión </a>   
                     
              </mat-list-item>
            </mat-list>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlex.md="100"  class="sec2">
            <mat-list>
              <div class="footer-text" mat-subheader>Contactanos</div>
              <mat-list-item *ngIf="cpny?.contactEmail">
                Correo : {{ cpny?.contactEmail }}
              </mat-list-item>             
            </mat-list>
          </div>
        </div>

      </div>
      <div fxFlex="55"  class="alterPrimaryBG tech" fxFlex.xs="15">
        AldanTech {{year}}
      </div>
    </div>
  </div>
</footer>