<footer class="md-padding ">
  <div id="btmFooter" flex>
    <div class="content "  fxLayout="column" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="55" class="alterPrimaryBG" fxFlex.xs="55">
        Contactanos
      </div>
      <div fxFlex="30" class="alterPrimaryBG">
        <div fxLayout="row"  fxLayoutAlign="center center" >
          <div  class="sec2">
            <mat-list >
              <div class="footer-text" mat-subheader>Aldan</div>
              <mat-list-item>
                Descripcion de la compañia
              </mat-list-item>
             
            </mat-list>
          </div>
          <div class="sec2">
            <mat-list>
              <div class="footer-text" mat-subheader>Productos</div>
              <mat-list-item>
                Lite
              </mat-list-item>
              <mat-list-item>
                Completa
              </mat-list-item>
            </mat-list>
          </div>
          <div  class="sec2">
            <mat-list>
              <div class="footer-text" mat-subheader>Links</div>
              <mat-list-item>
                Lite
              </mat-list-item>
              <mat-list-item>
                <a mat-button routerLink="/demo/demo-login" *ngIf="!(authenticationService.currentuser | async) as user" fxHide.xs> Iniciar Sesión </a>   
    
                 
              </mat-list-item>
            </mat-list>
          </div>
          <div class="sec2">
            <mat-list>
              <div class="footer-text" mat-subheader>Contactanos</div>
              <mat-list-item>
                Numero : 
              </mat-list-item>
              <mat-list-item>
                Completa
              </mat-list-item>
            </mat-list>
          </div>
        </div>

      </div>
      <div fxFlex="55"  class="alterPrimaryBG tech" fxFlex.xs="15">
        AldanTech 2022
      </div>
    </div>
  </div>
</footer>